---
- name: Create developers group
  group:
    name: developers
    state: present

- name: Create devuser user and add to developers group
  user:
    name: devuser
    groups: developers
    append: yes
    state: present
