# IntelliJ
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/misc.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
out/
# Compiled class file
*.class
# Log file
*.log
# Package files
*.jar
*.war
# Maven
target/