# IntelliJ
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
out/
# Compiled class file
*.class
# Log file
*.log
# Package files
*.jar
*.war
# Maven
target/